@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,400;1,300&family=Urbanist:ital,wght@0,100;1,100;1,200&display=swap');
@import 'colors';

* {
  margin: 0px;
  padding: 0px;
  color: $c_condensend_milk;
}

body {
  background-color: $c_gray_drak;
  font-family: 'Glory', sans-serif;
}