@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,400;1,300&family=Urbanist:ital,wght@0,100;1,100;1,200&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Glory', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}